venv/
env/
*.pyc
__pycache__/
db.sqlite3
.env
.vscode/*
!.vscode/extensions.json
*/migrations/*.pyc
*/migrations/__pycache__/

# Media files (reportes generados)
media/*
!media/.gitkeep
!media/reportes/.gitkeep